DATABASE_URL=postgresql://neondb_owner:password@ep-xyz.aws.neon.tech/neondb?sslmode=require

SECRET_KEY=your-secret-key-here

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=1440

EMAIL_HOST=smtp.office365.com
EMAIL_PORT=587
EMAIL_USER=your-email@domain.com
EMAIL_PASS=your-email-password

OUTLOOK_TENANT_ID=your-tenant-id
OUTLOOK_CLIENT_ID=your-client-id
OUTLOOK_CLIENT_SECRET=your-client-secret
SENDER_EMAIL=your-email@domain.com
